name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

defaults:
  run:
    shell: bash

# some jobs are currently running multiple config builds on the same worktree.
# it might be better to issue these as separate jobs or as a config matrix.

# debug builds are currently not built to keep the turnaround time on PRs shorter.

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - run:                 CC=gcc make -j4 platform=win config=tool   
      - run: git clean -f && CC=gcc make -j4 platform=win config=player
